<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Shrimp Pawt</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">The Shrimp Pawt</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Shrimp Pawt</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Shows</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Camo Fest</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Our venue!</div>
                <div class="intro-heading">We're helping make the Portland scene</div>
                <a href="#services" class="page-scroll btn btn-xl">check us out</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Shrimp Pawt</h2>
                    <h3 class="section-subheading text-muted">A venue for the rest of us</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Diversity</h4>
                    <p class="text-muted">The bands that have played here range from 9 piece folk bands to experimental doom metal bands, girls guys and whomever else is welcome to play.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Talent</h4>
                    <p class="text-muted">A reason we started the Shrimp Pawt was to give talented musicians who strayed from the mainstream a chance to play a warm inviting venue.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community</h4>
                    <p class="text-muted">We have worked hard to become part of the Portland scene fostering good relationships with a variety of bands.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Shows</h2>
                    <h3 class="section-subheading text-muted">Over the past year we've been lucky enough to hold a variety of execellent shows.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/erik-fest.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Erik Fest</h4>
                        <p class="text-muted">An electronic focused dance night</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/harm-show.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Harm</h4>
                        <p class="text-muted">A folk themed show</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/shramp-show.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Shram Paw</h4>
                        <p class="text-muted">A huge show with rock bands</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/nye-show.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>NYE Show</h4>
                        <p class="text-muted">Our NYE show which lasted well into the night</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/friends-show.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Shrimp Show</h4>
                        <p class="text-muted">A shrimp themed night with rock bands</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/camo-fest.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Camo Fest</h4>
                        <p class="text-muted">Our biggest all day event with a variety of awesome bands</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">How did we start?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>early 2000's</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Shrimp Pawt began as a living/practice space for members of various portland underground bands: a party house.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2015</h4>
                                    <h4 class="subheading">A venue is born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Although shows had been held here since the 2000's, the current Shrimp Pawt residents decided to turn it into an offical concert space early last year.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2016</h4>
                                    <h4 class="subheading">The Shrimp Pawt blossoms</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">By early 2016 we had already held several highly successful shows and were cultivating a strong community of artists and patrons.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2016</h4>
                                    <h4 class="subheading">Camo Fest</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This summer we are proud to be hosting our biggest show yet, an all day music fest featuring some of the best and most original acts in Portland with barbecue and Camo xxXxx Steel Reserve.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Join
                                    <br>Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Camo Fest!</h2>
                    <h3 class="section-subheading text-muted">We are beyond stoked to be bringing our all day music festival to Portland. Camo Fest is a celebration of talented original bands, barbecue, and Camo xxXxx Steel Reserve. Check out the bands below.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>The Hoons</h4>
                        <p class="text-muted">Rock Band</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://hoons.bandcamp.com/releases"><i class="fa fa-soundcloud"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/Thehoons/"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Wave Action</h4>
                        <p class="text-muted">Fun Rock Band</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://waveaction.bandcamp.com/"><i class="fa fa-soundcloud"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/waveactionband/"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Tig Bitty</h4>
                        <p class="text-muted">Powerful Dance</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://tigbitty.bandcamp.com/album/tig-bitty"><i class="fa fa-soundcloud"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/Tigs.bitty/"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/4.jpg" class="img-responsive img-circle" alt="">
                        <h4>Willow House</h4>
                        <p class="text-muted">Psych Rock</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://soundcloud.com/willowhouseportland"><i class="fa fa-soundcloud"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/Willow-House-155988474437771/"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/5.jpg" class="img-responsive img-circle" alt="">
                        <h4>Lörd Bëcky</h4>
                        <p class="text-muted">Skater Rock</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://soundcloud.com/l-rd-b-cky"><i class="fa fa-soundcloud"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/lordbeckytheband/"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/6.jpg" class="img-responsive img-circle" alt="">
                        <h4>The Forever Ago's</h4>
                        <p class="text-muted">Harmonious Soft Rock</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://soundcloud.com/theforeveragos"><i class="fa fa-soundcloud"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/foreveragos/"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/7.jpg" class="img-responsive img-circle" alt="">
                        <h4>Butterfly</h4>
                        <p class="text-muted">Noise Pop</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://soundcloud.com/butterflytheband"><i class="fa fa-soundcloud"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/butterflytheband/"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/8.jpg" class="img-responsive img-circle" alt="">
                        <h4>Two Moons</h4>
                        <p class="text-muted">Power Pop</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://soundcloud.com/two-moons/i-cant-hear-you"><i class="fa fa-soundcloud"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/thisistwomoons/"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/9.jpg" class="img-responsive img-circle" alt="">
                        <h4>Mr. Wrong</h4>
                        <p class="text-muted">Punk</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://mrwrongwitches.bandcamp.com/releases"><i class="fa fa-soundcloud"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/mrwrongband/"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/10.jpg" class="img-responsive img-circle" alt="">
                        <h4>Rust Bones</h4>
                        <p class="text-muted">Samples and Beats</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://soundcloud.com/rustbonestones"><i class="fa fa-soundcloud"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/events/1706687252927547"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/11.jpg" class="img-responsive img-circle" alt="">
                        <h4>Sea Charms</h4>
                        <p class="text-muted">Fun and Spooky</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://seacharms.bandcamp.com/"><i class="fa fa-soundcloud"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/seecharms/"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Camo Fest will be held june 24th, starting at 2pm. There will be barbecue, games, and all day music. For those attending we encourage you to have fun responsibly and to not drink and drive, we would rather you spend the night then endanger you or anyone else.</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Email if you are interested in hosting a show with us or just have questions.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; The Shrimp Pawt 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.facebook.com/theshrimppawt/"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Erik Fest</h2>
                            <p class="item-intro text-muted">An electronics extravaganza.</p>
                            <img style="max-height:600px;" class="img-responsive img-centered" src="img/portfolio/erik-fest.jpg" alt="">
                            <p>Erik Fest was an electronics based show set up for a returning Shrimp Pawt member. We tore up the night dancing and jumping.</p>
                            <ul class="list-inline">
                                <li>Date: March 4th, 2016</li>
                                <li>Bands: Rambush, Butterfly, Dr Brutrum, Rustbones</li>
                                <li>Category: Dance and Rock</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Harm</h2>
                            <p class="item-intro text-muted">A folk based set.</p>
                            <img style="max-height:600px;" class="img-responsive img-centered" src="img/portfolio/harm-show.jpg" alt="">
                            <p>The renowned Alaskan band Harm played, along with Headdressed--who uses samplers and loop pedals with their folk, as well as the wonderful Forever Agos.</p>
                            <ul class="list-inline">
                                <li>Date: January 13th, 2016</li>
                                <li>Bands: Harm, Headdressed, The Forever Agos</li>
                                <li>Category: Folk, Experimental</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Shram Paw Show</h2>
                            <p class="item-intro text-muted">Our largest show to date.</p>
                            <img style="max-height:600px;" class="img-responsive img-centered" src="img/portfolio/shramp-show.jpg" alt="">
                            <p>Our venue was completely packed for this show which featured new faces and the always classic, Yeah Great Fine.</p>
                            <ul class="list-inline">
                                <li>Date: December 11th, 2016</li>
                                <li>Bands: Fire Nuns, San Lorenzo, Butterfly, Yeah Great Fine, The Super Secret Hot Girls Club</li>
                                <li>Category: Rock</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>NYE Show</h2>
                            <p class="item-intro text-muted">Our year ended on a good note.</p>
                            <img style="max-height:600px;" class="img-responsive img-centered" src="img/portfolio/nye-show.jpg" alt="">
                            <p>Our new years eve show was packed with bands and good friends. We celebrated Shripm Pawt style.</p>
                            <ul class="list-inline">
                                <li>Date: December 31st, 2015</li>
                                <li>Bands: Dragon Curve, Butterfly, Red Tank, Electric Jellyfish, Val Bauer</li>
                                <li>Category: Dance and Rock</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Shrimp Show</h2>
                            <p class="item-intro text-muted">Great bands and free shrimp</p>
                            <img style="max-height:600px;" class="img-responsive img-centered" src="img/portfolio/friends-show.jpg" alt="">
                            <p>A night of punk rock and free shrimp. True to our name we provided free cocktail and fried shrimp.</p>
                            <ul class="list-inline">
                                <li>Date: February 12th, 2016</li>
                                <li>Bands: Casual Bf, Lord Becky, Kululu, Mr. Tang</li>
                                <li>Category: Punk, Shrimp</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Camo Fest</h2>
                            <p class="item-intro text-muted">An all day music event.</p>
                            <img style="max-height:600px;" class="img-responsive img-centered" src="img/portfolio/camo-fest.jpg" alt="">
                            <p>Camo Fest will be our biggest show to date. An all day festival with over 14 bands, barbecue, and of course Camo xxXxx steel reserve. So many different great bands to see and only at the Shrimp Pawt.</p>
                            <ul class="list-inline">
                                <li>Date: June 24th, 2016</li>
                                <li>Bands: The Hoons, Wave Action, Tig Bitty, Willow House, The Forever Agos, Lord Becky, Butterfly, Two Moons, Mr Wrong, Echo Heathen, Sea Charms, Ellectric Jellyfish</li>
                                <li>Category: Dance, Rock, Experimental, Punk, Pop, Beats, Psych</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

</body>

</html>
