<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A great place to buy locally sourced coffee.">
    <meta name="author" content="Java Hill">

    <title>Java Hill</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/javahill.css" rel="stylesheet">

    <!-- Custom Fonts -->

    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link rel="shortcut icon" type="image/x-icon" href="img/logo.png">
    <link rel="apple-touch-icon" href="img/logo.png">

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container navContainer">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="#page-top">
                	<img src="img/Bean.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Buy Coffee</a>
                    </li>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
        	<img src="img/bean.png" id="beanR">
        	<img src="img/bean.png" id="beanL">
            <div class="intro-text">
                <div class="intro-heading">
                    <h1>JH</h1>
                    <p>Welcome to Java Hill <br> Where coffee beans matter</p>
                </div>
                <div  class="headerImg">
                	<img src="img/cupHeat.png" >
                </div>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services" class="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Java Hill</h2>
                </div>
            </div>
            <div class="coffeeTop"> </div>
            <div class="row text-center homeInfo">
                <div class="col-md-12">
                    <p class="Large" >We are an all organic,
						locally sourced, coffe bean producer from the valleys of
						Dubly, West Phallia. We take pride in making the best beans possible, so <br> you can take pride in serving <br> the best coffee possible.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Product Grid Section -->
    <section id="portfolio" class="products" class="bg-light-gray">
        <div class="container">

        	<!-- ROW ONE -->

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Beans</h2>
                    <h3 class="section-subheading green">Find the best beans for you</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    	<div class="orderCard">
                    		<p>Check your order below!</p>
                    	</div>
                        <img src="img/products/coffee1.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4 class="left">Morning Blend</h4>
                        <p class="left">A light morning roast to help start the day</p>

                        <!-- ADD TO CART FORM -->
                        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" class="addToCartForm">
                        <!-- Identify your business so that you can collect the payments. -->
                        <input type="hidden" name="business" value="kin@kinskards.com">

                        <!-- Specify an Add to Cart button. -->
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">

                        <!-- Specify details about the item that buyers will purchase. -->
                        <input type="hidden" name="item_name" value="Morning Blend Coffee">
                        <input type="hidden" name="currency_code" value="USD">

                        <!-- Provide a drop-down menu option field with prices. -->
                        <div>
                            <input type="hidden" name="on1" value="Size">
                            <label for="os1">Amount</label>
                            <select name="os1" id="os1">
                                <option
                                    value="Select a size">Select an amount</option>
                                <option value="2x4">1 Pound  - $5  USD</option>
                                <option value="3x5">4 Pound  - $10 USD</option>
                                <option value="4x6">8 Pound  - $20 USD</option>
                            </select>

                            <!-- Specify the price that PayPal uses for each option. -->
                            <input type="hidden" name="option_index" value="1">
                            <input type="hidden" name="option_select0" value="4">
                            <input type="hidden" name="option_amount0" value="4">
                            <input type="hidden" name="option_select1" value="10">
                            <input type="hidden" name="option_amount1" value="10">
                            <input type="hidden" name="option_select2" value="20">
                            <input type="hidden" name="option_amount2" value="20">
                        </div>

                        <!-- Display the payment button. -->
                        <span>
                        	<img src="img/buttons/addButton.png">
                            <input type="image" name="submit"
                                src="img/buttons/addButton.png"
                                alt="Add to Cart" disabled>
                            <img alt="" width="1" height="1"
                                src="img/buttons/addButton.png" >
                        </span>
                    </form>

                    </div>
                </div>


                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    	<div class="orderCard">
                    		<p>Check your order below!</p>
                    	</div>
                        <img src="img/products/coffee2.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4 class="left">Midday Blend</h4>
                        <p class="left">A tasty medium roast to help you wake after lunch</p>

                        <!-- ADD TO CART FORM -->
                        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" class="addToCartForm">
	                        <!-- Identify your business so that you can collect the payments. -->
	                        <input type="hidden" name="business" value="kin@kinskards.com">

	                        <!-- Specify an Add to Cart button. -->
	                        <input type="hidden" name="cmd" value="_cart">
	                        <input type="hidden" name="add" value="1">

	                        <!-- Specify details about the item that buyers will purchase. -->
	                        <input type="hidden" name="item_name" value="Midday Blend Coffee">
	                        <input type="hidden" name="currency_code" value="USD">

	                        <!-- Provide a drop-down menu option field with prices. -->
	                        <div>
	                            <input type="hidden" name="on1" value="Size">
	                            <label for="os1">Amount</label>
	                            <select name="os1" id="os1">
	                                <option
	                                    value="Select a size">Select an amount</option>
	                                <option value="2x4">1 Pound  - $5  USD</option>
	                                <option value="3x5">4 Pound  - $10 USD</option>
	                                <option value="4x6">8 Pound  - $20 USD</option>
	                            </select>

	                            <!-- Specify the price that PayPal uses for each option. -->
	                            <input type="hidden" name="option_index" value="1">
	                            <input type="hidden" name="option_select0" value="4">
	                            <input type="hidden" name="option_amount0" value="4">
	                            <input type="hidden" name="option_select1" value="10">
	                            <input type="hidden" name="option_amount1" value="10">
	                            <input type="hidden" name="option_select2" value="20">
	                            <input type="hidden" name="option_amount2" value="20">
	                        </div>

	                        <!-- Display the payment button. -->
	                        <span>
	                            <img src="img/buttons/addButton.png">
	                            <input type="image" name="submit"
	                                src="img/buttons/addButton.png"
	                                alt="Add to Cart" disabled>
	                            <img alt="" width="1" height="1"
	                                src="img/buttons/addButton.png" >
	                        </span>
                    	</form>

                    </div>
                </div>


                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    	<div class="orderCard">
                    		<p>Check your order below!</p>
                    	</div>
                    	<img src="img/products/coffee3.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4 class="left">Midnight Blend</h4>
                        <p class=" left">A powerful dark roast for pushing through late night projects</p>

                        <!-- ADD TO CART FORM -->
                        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" class="addToCartForm">
                        <!-- Identify your business so that you can collect the payments. -->
	                        <input type="hidden" name="business" value="kin@kinskards.com">

	                        <!-- Specify an Add to Cart button. -->
	                        <input type="hidden" name="cmd" value="_cart">
	                        <input type="hidden" name="add" value="1">

	                        <!-- Specify details about the item that buyers will purchase. -->
	                        <input type="hidden" name="item_name" value="Midnight Blend Coffee">
	                        <input type="hidden" name="currency_code" value="USD">

	                        <!-- Provide a drop-down menu option field with prices. -->
	                        <div>
	                            <input type="hidden" name="on1" value="Size">
	                            <label for="os1">Amount</label>
	                            <select name="os1" id="os1">
	                                <option
	                                    value="Select a size">Select an amount</option>
	                                <option value="2x4">1 Pound  - $5  USD</option>
	                                <option value="3x5">4 Pound  - $10 USD</option>
	                                <option value="4x6">8 Pound  - $20 USD</option>
	                            </select>

	                            <!-- Specify the price that PayPal uses for each option. -->
	                            <input type="hidden" name="option_index" value="1">
	                            <input type="hidden" name="option_select0" value="4">
	                            <input type="hidden" name="option_amount0" value="4">
	                            <input type="hidden" name="option_select1" value="10">
	                            <input type="hidden" name="option_amount1" value="10">
	                            <input type="hidden" name="option_select2" value="20">
	                            <input type="hidden" name="option_amount2" value="20">
	                        </div>
	                        <!-- Display the payment button. -->
	                        <span>
	                            <img src="img/buttons/addButton.png">
	                            <input type="image" name="submit"
                                src="img/buttons/addButton.png"
                                alt="Add to Cart" disabled>
	                            <img alt="" width="1" height="1"
	                                src="img/buttons/addButton.png" >
	                        </span>
                    	</form>

                    </div>
                </div>

            <!-- ROW TWO -->

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    	<div class="orderCard">
                    		<p>Check your order below!</p>
                    	</div>
                        <img src="img/products/coffee4.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4 class="left">Milk Chocolate Blend</h4>
                        <p class="left">A delicious and light milk chocolate roast</p>

                        <!-- ADD TO CART FORM -->
                        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" class="addToCartForm">
	                        <!-- Identify your business so that you can collect the payments. -->
	                        <input type="hidden" name="business" value="kin@kinskards.com">

	                        <!-- Specify an Add to Cart button. -->
	                        <input type="hidden" name="cmd" value="_cart">
	                        <input type="hidden" name="add" value="1">

	                        <!-- Specify details about the item that buyers will purchase. -->
	                        <input type="hidden" name="item_name" value="Milk Chocolate Blend">
	                        <input type="hidden" name="currency_code" value="USD">

	                        <!-- Provide a drop-down menu option field with prices. -->
	                        <div>
	                            <input type="hidden" name="on1" value="Size">
	                            <label for="os1">Amount</label>
	                            <select name="os1" id="os1">
	                                <option
	                                    value="Select a size">Select an amount</option>
	                                <option value="2x4">1 Pound  - $5  USD</option>
	                                <option value="3x5">4 Pound  - $10 USD</option>
	                                <option value="4x6">8 Pound  - $20 USD</option>
	                            </select>

	                            <!-- Specify the price that PayPal uses for each option. -->
	                            <input type="hidden" name="option_index" value="1">
	                            <input type="hidden" name="option_select0" value="4">
	                            <input type="hidden" name="option_amount0" value="4">
	                            <input type="hidden" name="option_select1" value="10">
	                            <input type="hidden" name="option_amount1" value="10">
	                            <input type="hidden" name="option_select2" value="20">
	                            <input type="hidden" name="option_amount2" value="20">
	                        </div>

	                        <!-- Display the payment button. -->
	                        <span>
	                            <img src="img/buttons/addButton.png">
	                            <input type="image" name="submit"
	                                src="img/buttons/addButton.png"
	                                alt="Add to Cart" disabled>
	                            <img alt="" width="1" height="1"
	                                src="img/buttons/addButton.png" >
	                        </span>
                    	</form>

                    </div>
                </div>


                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    	<div class="orderCard">
                    		<p>Check your order below!</p>
                    	</div>
                        <img src="img/products/coffee5.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4 class="left">Chocolate Blend</h4>
                        <p class="left">A tasty choolate blend for sweet tooths and choclate lovers</p>

                        <!-- ADD TO CART FORM -->
                        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" class="addToCartForm">
	                        <!-- Identify your business so that you can collect the payments. -->
	                        <input type="hidden" name="business" value="kin@kinskards.com">

	                        <!-- Specify an Add to Cart button. -->
	                        <input type="hidden" name="cmd" value="_cart">
	                        <input type="hidden" name="add" value="1">

	                        <!-- Specify details about the item that buyers will purchase. -->
	                        <input type="hidden" name="item_name" value="Chocolate Blend">
	                        <input type="hidden" name="currency_code" value="USD">

	                        <!-- Provide a drop-down menu option field with prices. -->
	                        <div>
	                            <input type="hidden" name="on1" value="Size">
	                            <label for="os1">Amount</label>
	                            <select name="os1" id="os1">
	                                <option
	                                    value="Select a size">Select an amount</option>
	                                <option value="2x4">1 Pound  - $5  USD</option>
	                                <option value="3x5">4 Pound  - $10 USD</option>
	                                <option value="4x6">8 Pound  - $20 USD</option>
	                            </select>

	                            <!-- Specify the price that PayPal uses for each option. -->
	                            <input type="hidden" name="option_index" value="1">
	                            <input type="hidden" name="option_select0" value="4">
	                            <input type="hidden" name="option_amount0" value="4">
	                            <input type="hidden" name="option_select1" value="10">
	                            <input type="hidden" name="option_amount1" value="10">
	                            <input type="hidden" name="option_select2" value="20">
	                            <input type="hidden" name="option_amount2" value="20">
	                        </div>

	                        <!-- Display the payment button. -->
	                        <span>
	                            <img src="img/buttons/addButton.png">
	                            <input type="image" name="submit"
	                                src="img/buttons/addButton.png"
	                                alt="Add to Cart" disabled>
	                            <img alt="" width="1" height="1"
	                                src="img/buttons/addButton.png" >
	                        </span>
                    	</form>

                    </div>
                </div>


                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    	<div class="orderCard">
                    		<p>Check your order below!</p>
                    	</div>
                    	<img src="img/products/coffee6.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4 class="left">Dark Chocolate Blend</h4>
                        <p class=" left">A powerful dark chocolate roast with a bold flavor</p>

                        <!-- ADD TO CART FORM -->
                        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" class="addToCartForm">
	                        <!-- Identify your business so that you can collect the payments. -->
	                        <input type="hidden" name="business" value="kin@kinskards.com">

	                        <!-- Specify an Add to Cart button. -->
	                        <input type="hidden" name="cmd" value="_cart">
	                        <input type="hidden" name="add" value="1">

	                        <!-- Specify details about the item that buyers will purchase. -->
	                        <input type="hidden" name="item_name" value="Dark Chocolate Blend">
	                        <input type="hidden" name="currency_code" value="USD">

	                        <!-- Provide a drop-down menu option field with prices. -->
	                        <div>
	                            <input type="hidden" name="on1" value="Size">
	                            <label for="os1">Amount</label>
	                            <select name="os1" id="os1">
	                                <option
	                                    value="Select a size">Select an amount</option>
	                                <option value="2x4">1 Pound  - $5  USD</option>
	                                <option value="3x5">4 Pound  - $10 USD</option>
	                                <option value="4x6">8 Pound  - $20 USD</option>
	                            </select>

	                            <!-- Specify the price that PayPal uses for each option. -->
	                            <input type="hidden" name="option_index" value="1">
	                            <input type="hidden" name="option_select0" value="4">
	                            <input type="hidden" name="option_amount0" value="4">
	                            <input type="hidden" name="option_select1" value="10">
	                            <input type="hidden" name="option_amount1" value="10">
	                            <input type="hidden" name="option_select2" value="20">
	                            <input type="hidden" name="option_amount2" value="20">
	                        </div>
	                        <!-- Display the payment button. -->
	                        <span>
	                            <img src="img/buttons/addButton.png">
	                            <input type="image" name="submit"
	                                src="img/buttons/addButton.png"
	                                alt="Add to Cart" disabled>
	                            <img alt="" width="1" height="1"
	                                src="img/buttons/addButton.png" >
	                        </span>
                    	</form>

                    </div>
                </div>
            </div>


        </div>
    </section>

    <!-- Paypal Checkout Section -->
    <section id="checkout" class="checkout">
        <div class="container">
            <div class="row text-center">
            	<div class="col-lg-6 text-center">
                    <h2 class="section-heading">Your Order</h2>
                    <div class="col-lg-12 order">
                        <h5>Make a coffee order and it will appear here</h5>
                    </div>
                </div>
                <div class="col-lg-6 text-center cellMargin">
                    <h2 class="section-heading">Checkout</h2>
                    <h3 class="section-subheading text-muted">Click the button to checkout</h3>
                    <div class="col-lg-12 portfolio-item">
                    <div class="portfolio-caption">

                    	<div class="checkoutDiv"><p>total = $<span>0</span></p></div>

                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

                          <!-- Identify your business so that you can collect the payments. -->
                          <input type="hidden" name="business" value="herschelgomez@xyzzyu.com">

                          <!-- Specify a Buy Now button. -->
                          <input type="hidden" name="cmd" value="_xclick">

                          <!-- Specify details about the item that buyers will purchase. -->
                          <input type="hidden" name="item_name" value="Hot Sauce-12oz. Bottle">
                          <input type="hidden" name="amount" value="5.95">
                          <input type="hidden" name="currency_code" value="USD">

                          <!-- Display the payment button. -->
                          <input type="image" name="submit" border="0"
                          src="img/buttons/buyButton.png"
                          alt="Checkout with Paypal" >
                          <img alt="" border="0" width="1" height="1"
                          src="img/buttons/buyButton.png" >

                        </form>

                    </div>
                </div>
            </div>
                </div>
            </div>
    </section>
    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <h3 class="section-subheading text-muted">We'd love to answer your questions.</h3>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <p class="help-block text white">Reach us at 867-5309 or Javahill@jhill.com</p>
                    </div>
                    <div class="form-group">
                        <p class="help-block text white">0000003 Venady st Mission Yieye, CA 00003</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4 left">
                    <span class="copyright">Copyright &copy; Java Hill 2018</span>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/javahill.js"></script>

</body>

</html>
